{% extends 'app/base.html' %}
{% load static %}
{% block content %}
<h1>know me more </h1>
<div class="contact-container">
    <form action="" class="contact-left">
        <div class="contact-left-title">
            <h2>Get in touch</h2>
        </div>
        <input type="text" name="name" placeholder="Your Name" class="contact-input" required>
        <input type="email" name="email" placeholder="Your Email" class="contact-input" required>
        <textarea name="message" placeholder="Your Message" class="contact-input" required></textarea>
        <button type="submit">Submit</button>
    </form>
    <div class="contact-right">
        <img class="mySelf" src="{% static 'image/cvsu-logo.png' %}">
    </div>
</div>
    {% endblock content %}